# Copy to azure.env here and fill in AZDO_PAT. Keep azure.env outside Git.
# PAT available at https://dev.azure.com/Thaumatorium/_usersSettings/tokens
AZDO_PAT=
AZDO_ORG_URL=https://dev.azure.com/Thaumatorium/
